<link rel="stylesheet" href="/css/bootstrap.min.css"/>

<script src="/js/jquery-2.1.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<% locals.title = locals.title || 'Untitled' %>
<title><%= locals.title + ' - ' %><%= locals.appName %></title>