<!DOCTYPE html>
<html>
<head>
	<% include partials/head %>
</head>
<body>

<% include partials/navbar %>

<div class="container">
	<h1>Ben Zuill-Smith</h1>
	<p>I like Node.js!</p>
</div>

</body>

</html>
